<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container">
        <h1>Add a new item</h1>
            <form action="/budgets" method="POST">
                <div class="row">
                    <div class="six columns">
                        <input class="u-full-width" type="date" name="date"/>
                    </div>
                    <div class="six columns">
                        <input class="u-full-width" type="text" name="name" placeholder="Name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="six columns">
                        <input class="u-full-width" type="text" name="amount" placeholder="Amount"/>
                    </div>
                    <div class="six columns">
                        <input class="u-full-width" type="text" name="from" placeholder="From"/>
                    </div>
                </div>
                <div class="row">
                        <input class="u-full-width" type="text" name="tags" placeholder="Tags (seperate by commas)">
                </div>
                <input class="button-primary" type="submit" value="submit" />
                <input type="button" name="cancel" value="cancel" onClick="window.location.href='/budgets'" /> 
            </form>
    </div>
</body>
</html>